body {
	font-family: "Lato", sans-serif;
}

a {
	color: black !important;
}

.pink-color {
	color: #f063b8;
}

.header {
	font-size: 3rem;
}

.texts {
	font-weight: 300;
	font-size: 1.1rem;
}

.btn {
	color: white !important;
	background-color: #9c69e2 !important;
	border-radius: 30px !important;
	padding: 10px 30px !important;
}

.btn-reverse {
	background-color: white !important;
	color: #9c69e2 !important;
	box-shadow: 1px 5px 5px rgba(75, 93, 104, 0.2);
}

img {
	width: 100%;
}

.section-seperate {
	padding-top: 95px;
}

.color-bg {
	width: 98% !important;
	background: rgba(202, 126, 172, 0.15);
	border-radius: 50px;
}

.center {
	text-align: center;
}

.bd-placeholder-img {
	position: relative;
	width: 95%;
	height: 80%;
	left: -10px;
	top: 20px;
}

.color {
	border: none !important;
	border-top-left-radius: 400px !important;
	border-bottom-left-radius: 100px !important;
	border-top-right-radius: 50px !important;
	border-bottom-right-radius: 50px !important;
}

.color1 {
	background-color: #ebfffc !important;
}

.color2 {
	background-color: #f4efff !important;
}

.color3 {
	background-color: #fff6fb !important;
}

.color4 {
	background-color: #f0faff !important;
}

.grid-card {
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 10px;
}

.card-body {
	padding-top: 10px !important;
}

.card-title {
	font-size: 1.2rem;
}

.body {
	justify-content: center;
	min-height: 100vh;
	display: flex !important;
	align-items: center !important;
	background-color: #d2b3fd !important;
	border-radius: 40px;
}

#demo {
	background: linear-gradient(
		112deg,
		#ffffff 50%,
		rgb(255, 249, 241) 50%
	) !important;
	max-width: 900px;
	margin: 20px !important;
}

.carousel-caption {
	position: initial !important;
	z-index: 10;
	padding: 3rem 6rem !important;
	color: rgba(78, 77, 77, 0.856) !important;
	text-align: center !important;
	font-size: 1.2rem !important;
	font-style: italic !important;
	font-weight: bold !important;
	line-height: 2rem !important;
}

@media (max-width: 767px) {
	.carousel-caption {
		position: initial !important;
		z-index: 10 !important;
		padding: 2rem 1rem !important;
		color: rgba(78, 77, 77, 0.856) !important;
		text-align: center !important;
		font-size: 0.7rem !important;
		font-style: italic !important;
		font-weight: bold !important;
		line-height: 1.5rem !important;
	}
}

.carousel-caption img {
	width: 6rem !important;
	border-radius: 5rem !important;
	margin-top: 2rem !important;
}

@media (max-width: 767px) {
	.carousel-caption img {
		width: 4rem !important;
		border-radius: 4rem !important;
		margin-top: 1rem !important;
	}
}

#image-caption {
	font-style: normal !important;
	font-size: 1rem !important;
	margin-top: 0.5rem !important;
}

@media (max-width: 767px) {
	#image-caption {
		font-style: normal !important;
		font-size: 0.6rem !important;
		margin-top: 0.5rem !important;
	}
}

.slider-icon {
	background-color: rgb(255, 128, 153) !important;
	padding: 1.4rem !important;
}

@media (max-width: 767px) {
	.slider-icon {
		padding: 0.8rem !important;
	}
}

.carousel-control-prev {
	justify-content: flex-start !important;
}

.carousel-control-next {
	justify-content: flex-end !important;
}

.carousel-control-prev,
.carousel-control-next {
	transition: none !important;
	opacity: unset !important;
}
